Repository ordzaar/standard, pull requests merged in 2023-11, with the labels that each got.

#4 chore(ops): add standard-linter
  packages/standard-linter/README.md
  packages/standard-linter/index.js
  packages/standard-linter/package.json
  packages/standard-web-linter/index.js
  pnpm-lock.yaml
Labels: kind/chore

#10 fix(linter): change incorrect package name
  packages/standard-linter/index.js
Labels: kind/fix

#11 fix(standard-linter): allow underscore prefix for variables
  packages/standard-linter/index.js
Labels: kind/fix

#12 fix(standard-linter): reenable naming-convention for other selectors
  packages/standard-linter/index.js
Labels: kind/fix

#13 chore(ops): use standard TS version across all
  packages/standard-linter/package.json
  packages/standard-prettier/package.json
  packages/standard-web-linter/package.json
  packages/standard-web/package.json
  pnpm-lock.yaml
Labels: kind/chore

#21 fix(standard-linter): disallow non-braced statements
  packages/standard-linter/index.js
Labels: kind/fix

#17 feat(eslint): remove max classes + remove use this
  packages/standard-linter/index.js
  pnpm-lock.yaml
Labels: kind/feature

#23 fix(eslint): revert no-restricted-syntax
  packages/standard-linter/index.js
Labels: kind/fix

#24 fix(eslint): no-use-before-define
  packages/standard-linter/index.js
Labels: kind/fix

#42 fix(eslint): group react imports and internal imports correctly
  packages/standard-web-linter/index.js
Labels: kind/fix

#56 fix(standard-web-linter): allow prefix underscore
  packages/standard-web-linter/index.js
Labels: kind/fix
